* {
   box-sizing: border-box;
   font-family:Arial, Helvetica, sans-serif;
   color: white;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(../images/lotlpanelclear.png);
    background-size: cover;
    text-align: center;
}

main { 
    align-items: center;
    position: relative;
    flex-grow: 1;
}

footer {
    background-color: #171717;
    margin-top: 0.5em;
}